body {
    font-family: Arial, sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

header {
    margin-top: 50px;
}

#game-settings {
    margin: 20px 0;
}

#game-screen, #result-screen {
    margin-top: 20px;
}

#timer {
    font-size: 1.5em;
    margin: 20px 0;
}

#players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-section {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
